  <div class="containerr">
      <div class="title">Login Form</div>
      <div class="content">
        <form action="/login" method="post">
          <div class="user-details">
            
            <div class="input-box">
              <span class="details">Email</span>
              <input type="email" name="email" placeholder="Enter your email" required />
            </div>
           
            <div class="input-box">
              <span class="details">Password</span>
              <input type="password"  name="password" placeholder="Enter your password" required />
            </div>
           
          <div class="button">
            <input type="submit" value="Login" />
          </div>
        </form>
      </div>
    </div>