  <div id="carouselExampleControls" class="carousel slide harsh" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="image/a1.jpg" class="d-block w-100 image" alt="1st image is not showing">
    </div>
    <div class="carousel-item">
      <img src="image/a2.jpg" class="d-block w-100 image" alt=" 2nd image is not showing">
    </div>
    <div class="carousel-item">
      <img src="image/a3.jpg" class="d-block w-100 image" alt=" 3rd image is not showing">
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>