<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="css/icss.css">
     
     <title>Welcome To My Web Store</title>
    
</head>
<body>
     {{>nav}}
      {{>slider}}
   
  {{>footer}}
</body>
</html>