<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <link rel="stylesheet" href="css/lcss.css">

     <title>LOGIN</title>
</head>
<body>
     {{>nav}}
     {{>lform}}
     {{>footer}}
</body>
</html>