<!DOCTYPE html>
<html lang="en">
<head>
     {{>header}}
     <title>Registration Form</title>
    <link rel="stylesheet" href="css/rcss.css">

</head>
<body>
     {{>nav}}
    
   {{>rform}}
    {{>footer}}
</body>
</html>