
body{
    font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

/* navbar */
nav{
    
    border: 3px solid black;
    margin-bottom: 60px;
}
nav>ul{
    display: flex;
    justify-content: right;

}

li{
    margin-right: 100px;
  list-style-type: none;
}
a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

/* navbar */

#signup-form-div{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    width: 20%;
    margin: auto;
    padding: 5px;
}
h1{
    text-align: center;
    margin-bottom:30px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

input{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
   
}
input:nth-last-child(1){
    width: 40%;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    background-color: teal;
    border-radius: 5px;
    border: none;
}